## **Importing Libraries**

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## **Importing dataset**

In [25]:
url='https://raw.githubusercontent.com/Vrutik-Patwa/ML_Code_Templates/main/CSV/suv_data.csv?token=GHSAT0AAAAAACCCPXJM4F6XESSEPJQBZ3ZEZCSLCPQ'
dataset = pd.read_csv(url)

In [26]:
dataset.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [27]:
dataset.isnull()

     User ID  Gender    Age  EstimatedSalary  Purchased
0      False   False  False            False      False
1      False   False  False            False      False
2      False   False  False            False      False
3      False   False  False            False      False
4      False   False  False            False      False
..       ...     ...    ...              ...        ...
395    False   False  False            False      False
396    False   False  False            False      False
397    False   False  False            False      False
398    False   False  False            False      False
399    False   False  False            False      False

[400 rows x 5 columns]

In [28]:
dataset.isnull().sum()

User ID            0
Gender             0
Age                0
EstimatedSalary    0
Purchased          0
dtype: int64

In [34]:
gender = pd.get_dummies(['Gender'])
gender.head()
dataset['Gender'].head()

0      Male
1      Male
2    Female
3    Female
4      Male
Name: Gender, dtype: object

In [33]:
gender.head()

   Gender
0       1

In [35]:
#dataset.drop(['User ID'],inplace=True,axis=1)

In [36]:
#dataset= pd.concat([dataset.drop(['Gender'],axis=1),gender],axis=1)

In [37]:
#dataset.head(5)

In [38]:
gender

   Gender
0       1

In [50]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer(transformers=[('encoder',OneHotEncoder(),[0])],remainder='passthrough')

In [51]:
X=dataset.iloc[:,1:-1]

In [52]:
Y=dataset.iloc[:,-1].values

In [53]:
X.head()

   Gender  Age  EstimatedSalary
0    Male   19            19000
1    Male   35            20000
2  Female   26            43000
3  Female   27            57000
4    Male   19            76000

In [54]:
X=np.array(ct.fit_transform(X.values))

In [56]:
from sklearn.preprocessing import StandardScaler

In [59]:
from sklearn.model_selection import train_test_split

In [60]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,random_state=0)

In [61]:
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test=sc.transform(X_test)

In [63]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier.fit(X_train,Y_train)

LogisticRegression()

In [64]:
y_pred=classifier.predict(X_test)

In [65]:
from sklearn.metrics import confusion_matrix,accuracy_score

In [66]:
accuracy_score(Y_test,y_pred)

0.9125

In [67]:
confusion_matrix(Y_test,y_pred)

array([[56,  2],
       [ 5, 17]])